<div id="rubrique4">
  <div class="r4-tittle">
    <h2 style="text-decoration: underline;"><span class="number">4 –</span> Audit Energétique</h2>
    <h3><span class="number">4.3</span> Consommations</h3>
    <div style="display: inline;"><img src="<%= baseURL %>tamplete/img/r4/fleche.png"
        style="width: 10px; height: 10px;"></div>
    <h4><span class="number">4.3.1</span> Consommations théoriques en énergie finale</h4>
  </div>
  <div id="graphique"><img src="<%= baseURL %>tamplete/img/r4/graphique.png" style="width: 100px; height: 100px;">
  </div>
  <div id="Objetdynamiquevector">
    <div><img src="<%= baseURL %>tamplete/img/r4/Objetdynamiquevector_12.png" style="width: 30px; height: 10px;">
      chauffage</div>
    <div><img src="<%= baseURL %>tamplete/img/r4/Objetdynamiquevector_13.png" style="width: 30px; height: 10px;">ECS
    </div>
    <div><img src="<%= baseURL %>tamplete/img/r4/Objetdynamiquevector_14.png"
        style="width: 30px; height: 10px;">Eclairage </div>
    <div><img src="<%= baseURL %>tamplete/img/r4/Objetdynamiquevector_15.png" style="width: 30px; height: 10px;">
      ventilation</div>
    <div><img src="<%= baseURL %>tamplete/img/r4/Objetdynamiquevector_16.png" style="width: 30px; height: 10px;"> autre
      usage </div>
    <div><img src="<%= baseURL %>tamplete/img/r4/Objetdynamiquevector_17.png" style="width: 30px; height: 10px;">
      réfroidissemnt</div>
    <div><img src="<%= baseURL %>tamplete/img/r4/Objetdynamiquevector_18.png" style="width: 30px; height: 10px;">
      AUXILLIAIRE</div>
  </div>
  <div id="paragraphe">
    <p>« Le secteur du bâtiment absorbe 45 % de la consommation d'énergie nationale et produit 27 % des émissions de gaz
      à effet de serre. Avec 7 à 8 millions
      de passoires thermiques (logements classés F ou G) en France, l’Etat s’est fixé comme objectif de rénover 500 000
      logements par an.</p>
  </div>
  <div id="table">
    <table>
      <tr class="line">
        <th></th>
        <th></th>
        <th></th>
        <th>Consommations (en Kwh EF/an) </th>
        <th>Dépense (en €HT/an)</th>
        <th>Répartition dépenses </th>
      </tr>
      <tr>
        <td rowspan="3" width="20%"><img src="<%= baseURL %>tamplete/img/r4/picto_4.png" class="image"></td>
        <td class="td-2">CHAUFFAGE</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="chauffage">
        <td></td>
        <td>électricité</td>
        <td>00</td>
        <td>00</td>
        <td>00</td>
      </tr>
      <tr class="line">
        <td></td>
        <td>Fioul</td>
        <td>00</td>
        <td>00</td>
        <td>00</td>
      </tr>
      <tr>
        <td rowspan="2"><img src="<%= baseURL %>tamplete/img/r4/picto_5.png" class="image"></td>
        <td class="td-2">ECS</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="line">
        <td></td>
        <td>électricité</td>
        <td>00</td>
        <td>00</td>
        <td>00</td>
      </tr>
      <tr>
        <td rowspan="2"><img src="<%= baseURL %>tamplete/img/r4/picto_6.png" class="image"></td>
        <td class="td-2">ECLAIRAGE</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="line">
        <td></td>
        <td>électricité</td>
        <td>00</td>
        <td>00</td>
        <td>00</td>
      </tr>
      <tr>
        <td rowspan="2"><img src="<%= baseURL %>tamplete/img/r4/picto_7.png" class="image"></td>
        <td class="td-2">VENTILATEUR</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="line">
        <td></td>
        <td>électricité</td>
        <td>00</td>
        <td>00</td>
        <td>00</td>
      </tr>
      <tr>
        <td rowspan="2"><img src="<%= baseURL %>tamplete/img/r4/picto_8.png" class="image"></td>
        <td class="td-2">REFROIDISSEMENT</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="line">
        <td></td>
        <td>électricité</td>
        <td>00</td>
        <td>00</td>
        <td>00</td>
      </tr>
      <tr>
        <td rowspan="2"><img src="<%= baseURL %>tamplete/img/r4/picto_9.png" class="image"></td>
        <td class="td-2">AUXILLIAIRE</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="line">
        <td></td>
        <td>électricité</td>
        <td>00</td>
        <td>00</td>
        <td>00</td>
      </tr>
      <tr>
        <td rowspan="2"><img src="<%= baseURL %>tamplete/img/r4/picto_10.png" class="image"></td>
        <td class="td-2">AUTRES USAGES</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="line">
        <td></td>
        <td>électricité</td>
        <td>00</td>
        <td>00</td>
        <td>00</td>
      </tr>

    </table>
  </div>
  <div id="r4-footer">
    <span id="r4-footer-span">Le calculs des dépenses est effectué sur la base des consommations théoriques et non sur le montant des factures</span>
  </div>
</div>
