<div id="rubrique3Etats">
  <h2 class="r2-title">
    <span class="green-conv">3</span> <span class="blue-conv"> Etats des lieux existants</span>
  </h2>
  <div class="r4-tittle">
    <div style="display: inline;"><img src="<%= baseURL %>tamplete/img/r5/fleche.png"
        style="width: 10px; height: 10px;"></div>
    <h3 style="display: inline;"><span class="number">3.3</span style="font-size: 11px">Description des systèmes /</h3>
    <h3 style="display: inline;"><span class="number">3.3.1</span style="font-size: 11px">Chauffage/ régulation </h3>
    <div style="margin-top: 10px;">
      <div style=" width: 20%; height: 90px;position: absolute;z-index: 2;"><img
          src="<%= baseURL %>tamplete/img/r8/cartouchebleu.png" class="foto"></div>
      <div style="width: auto; height: 90px;  z-index: 1;position: absolute;"><img
          src="<%= baseURL %>tamplete/img/r8/bandeaugris.png" class="foto"></div>
      <div
        style="height: 90px; width: 77%; z-index: 3; text-align: left; position: relative; padding: 5px; margin-left: 23%;">
        <h3>NOTRE CONSTAT D'EXPERT</h3>
        <p style="color: black; font-size: 10px;">
          Peri que coremquas cus, sa que earum dolo consend iatibus, niendit officim reperiam qui desciasseque
          sam facessinus excearum exerum etus. <br />
          Bus eatatenis nemquae ex et illabor andam et eos aut lab in nonsecatur alitis accatia nus ilique volorest
          pore, nimus, corehenist officiandae quas eicipit dolorum eum
        </p>
      </div>
      <div class="r8_item">
        <div class="r8_item_l">
          <span class="r8_form_title">Type d'emeteur</span> <br />
          <span class="r8_Keys">MARQUE :</span><span class="r8_value"> Nemqui sum hillectus ut quist</span><br />
          <span class="r8_Keys">ENERGIE :</span><span class="r8_value"> Nemqui sum hillectus ut quist</span><br />
          <span class="r8_Keys">PERFORMENCE ÉNERGÉTIQUE</span><span class="performance">moyen</span><br />
          <span>Système correct mais gourmand en énergie</span>
          <div style="width: 100px; height: 30px; display: block; margin-left: auto; margin-right: auto;">
            <img src="<%= baseURL %>tamplete/img/r8/pictosperformance.png" class="foto"
              style="display: block; margin-left: auto; margin-right: auto;">
          </div>
        </div>
        <div class="r8_item_r">
          <img src="<%= baseURL %>tamplete/img/r8/chaudiere_0.png" class="foto"
            style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="r8_item_c">
          <span>
            Les critères d’évaluation de l’efficacité énergétique d’une rénovation sont les suivants : économies
            d’énergie, amélioration de son confort l’hiver et/ou l’été, la valorisation de son patrimoine et la
            performance environnementale.
          </span>
        </div>
      </div>
      <div style="clear: both; display: block; content: '';"></div>
      <div class="lineH_r5"></div>
      <div class="r8_item">
        <div class="r8_item_l">
          <span class="r8_form_title">Type d'emeteur</span> <br />
          <span class="r8_Keys">MARQUE :</span><span class="r8_value"> Nemqui sum hillectus ut quist</span><br />
          <span class="r8_Keys">ENERGIE :</span><span class="r8_value"> Nemqui sum hillectus ut quist</span><br />
          <span class="r8_Keys">PERFORMENCE ÉNERGÉTIQUE</span><span class="performance">moyen</span><br />
          <span>Système correct mais gourmand en énergie</span>
          <div style="width: 100px; height: 30px; display: block; margin-left: auto; margin-right: auto;">
            <img src="<%= baseURL %>tamplete/img/r8/pictosperformance.png" class="foto"
              style="display: block; margin-left: auto; margin-right: auto;">
          </div>
        </div>
        <div class="r8_item_r">
          <img src="<%= baseURL %>tamplete/img/r8/chaudiere_0.png" class="foto"
            style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="r8_item_c">
          <span>
            Les critères d’évaluation de l’efficacité énergétique d’une rénovation sont les suivants : économies
            d’énergie, amélioration de son confort l’hiver et/ou l’été, la valorisation de son patrimoine et la
            performance environnementale.
          </span>
        </div>
      </div>
      <div style="clear: both; display: block; content: '';"></div>
      <div class="lineH_r5"></div>
      <div>
        
      </div>
      <table>
        <tr>
          <th class="number">PROGRAMMATEUR</th>
          <th class="number">thermostat</th>
          <th class="number">Robinet thermostat</th>
          <th class="number">Sonde éxterieur</th>
        </tr>
        <tr>
          <td class="td-R8"><img src="<%= baseURL %>tamplete/img/r8/chaudiere_0.png" class="foto"></td>
          <td class="td-R8"><img src="<%= baseURL %>tamplete/img/r8/CentralHeatingThermo.png" class="foto"></td>
          <td class="td-R8"><img src="<%= baseURL %>tamplete/img/r8/sondeexterieure.png" class="foto"></td>
          <td class="td-R8"><img src="<%= baseURL %>tamplete/img/r8/HeatingActuatorEnerg.png" class="foto"></td>
        </tr>

      </table>
    </div>
  </div>
</div>
