<div id="rubrique5">
  <div class="r4-tittle">
    <h2 style="text-decoration: underline;"><span class="number">2–</span> Etats des lieux existants</h2>
   
    <div style="display: inline;"><img src="<%= baseURL %>tamplete/img/r5/fleche.png"
        style="width: 10px; height: 10px;"></div>
    <h3 style="display: inline;"><span class="number">2.8</span>Description des systèmes /</h3>
    <h3 style="display: inline;"><span class="number">2.8.1</span>Chauffage/ régulation </h3>

  </div>   
<div>
  <img src="<%= baseURL %>tamplete/img/r8/bandeaugris.png"  style="width: 100%; height: auto; position: absolute; z-index: 0;">
 <div class="article1" style="width: 150px;"> <img src="<%= baseURL %>tamplete/img/r8/cartouchebleu.png" class="foto"></div>

  <p class="article1" style="width: 600px;">
<h3>NOTRE CONSTAT D'EXPERT</h3>
ici commentaire ici commentaire ici commentaire ici commentaireici commentaire ici commentaireici commentaire ici commentaire
ici commentaireici commentaireici commentaireici commentaireici commentaireici commentaireici commentaireici commentaire
</p>
<div class="top" >
  <div class="aside">
    <p class="foto">ici commentaire ici commentaire ici commentaire ici commentaireici commentaire ici commentaireici commentaire ici commentaire
    ici commentaireici commentaireici commentaireici commentaireici commentaireici commentaireici commentaireici commentaire</p>
     <img src="<%= baseURL %>tamplete/img/r8/pictosperformance.png" width="100px" height="50px" ></div>
  <div class="aside"> <p class="foto">ici commentaire ici commentaire ici commentaire ici commentaireici commentaire ici commentaireici commentaire ici commentaire
    ici commentaireici commentaireici commentaireici commentaireici commentaireici commentaireici commentaireici commentaire</p>  </div>
  <div class="aside"> <img src="<%= baseURL %>tamplete/img/r8/chaudiere.png" class="foto" ></div>
  <div class="aside">
</div>
<div class="top" >
  <div class="aside">
    <p class="foto">ici commentaire ici commentaire ici commentaire ici commentaireici commentaire ici commentaireici commentaire ici commentaire
    ici commentaireici commentaireici commentaireici commentaireici commentaireici commentaireici commentaireici commentaire</p>
     <img src="<%= baseURL %>tamplete/img/r8/pictosperformance.png" width="100px" height="50px" ></div>
  <div class="aside"> <p class="foto">ici commentaire ici commentaire ici commentaire ici commentaireici commentaire ici commentaireici commentaire ici commentaire
    ici commentaireici commentaireici commentaireici commentaireici commentaireici commentaireici commentaireici commentaire</p>  </div>
  <div class="aside"> <img src="<%= baseURL %>tamplete/img/r8/chaudiere.png" class="foto" ></div>
  <div class="aside">
</div>
<p>
  <h3>NOTRE CONSTAT D'EXPERT</h3>
  ici commentaire ici commentaire ici commentaire ici commentaireici commentaire ici commentaireici commentaire ici commentaire
  ici commentaireici commentaireici commentaireici commentaireici commentaireici commentaireici commentaireici commentaire
  </p>
  <Table>
    <th>PROGRAMMATEUR</th>
    <th>THERMOSTATE</th>
    <th>Robinet thérmostatique</th>
    <th>Sonde éxterieur</th>
    <tr>
      <td><img src="<%= baseURL %>tamplete/img/r8/chaudiere_0.png" class="foto"></td>
      <td><img src="<%= baseURL %>tamplete/img/r8/CentralHeatingThermo.png" class="foto"></td>
      <td><img src="<%= baseURL %>tamplete/img/r8/HeatingActuatorEnerg.png" class="foto"></td>
      <td><img src="<%= baseURL %>tamplete/img/r8/sondeexterieure.png" class="foto"></td>
    </tr>
  </Table>
</div>

