<div id="rubrique3Etats">
  <h2 class="r2-title">
    <span class="green-conv">3</span> <span class="blue-conv"> Etats des lieux existants</span>
  </h2>
  <div class="r4-tittle">
    <div style="display: inline;"><img src="<%= baseURL %>tamplete/img/r5/fleche.png"
        style="width: 10px; height: 10px;"></div>
    <h3 style="display: inline;"><span class="number">2.8</span>Description des systèmes /</h3>
    <h3 style="display: inline;"><span class="number">2.8.1</span>Chauffage/ régulation </h3>
<div>
  <div style=" width: 20%; height: 160px;position: absolute;z-index: 2;"><img src="<%= baseURL %>tamplete/img/r8/cartouchebleu.png" class="foto" ></div>
  <div style="width: auto; height: 160px;  z-index: 1;position: absolute;"><img src="<%= baseURL %>tamplete/img/r8/bandeaugris.png" class="foto"></div>

  <div style="height: 160px; width:75% ; z-index: 3; margin-left: 23%; text-align: center;position: relative;"> 
    <h3>NOTRE CONSTAT D'EXPERT</h3>
    <p style="color: black; font-size: 12px;">ici le commentaire que vous avaez besoin ici le commentaire que vous avaez besoinici le commentaire que vous avaez besoinici le commentaire que vous avaez besoinici le commentaire que vous avaez besoin
      ici le commentaire que vous avaez besoin ici le commentaire que vous avaez besoinici le commentaire que vous avaez besoinici le commentaire que vous avaez besoinici le commentaire que vous avaez besoin
    </p>
  </div>
    <div class="conteneurR8">
      <div class="article2"> 
           Les critères d’évaluation de l’efficacité énergétique d’une rénovation sont les suivants : économies d’énergie, amélioration de son confort l’hiver et/ou l’été, la valorisation de son patrimoine et la performance environnementale.
        <div style="width: 100px;height: 30px;"> <img src="<%= baseURL %>tamplete/img/r8/pictosperformance.png" class="foto" ></div>
      </div>
    <div class="article2" style="border-left: darkgrey 1px solid;">
        rénovation énergétique pxest plus efficace et plus rentable si elle est globale. Les critères d’évaluation de l’efficacité énergétique d’une rénovation sont les suivants : économies d’énergie, amélioration de son confort l’hiver et/ou l’été, la valorisation de son patrimoine et la performance environnementale.
      </div>
      <div class="article2">  
        <img src="<%= baseURL %>tamplete/img/r8/chaudiere_0.png" class="foto" >
      </div>
  </div>
  <div class="conteneurR8">
    <div class="article2"> 
         Les critères d’évaluation de l’efficacité énergétique d’une rénovation sont les suivants : économies d’énergie, amélioration de son confort l’hiver et/ou l’été, la valorisation de son patrimoine et la performance environnementale.
      <div style="width: 100px;height: 30px;"> <img src="<%= baseURL %>tamplete/img/r8/pictosperformance.png" class="foto" ></div>
    </div>
  <div class="article2" style="border-left: darkgrey 1px solid;">
      rénovation énergétique pxest plus efficace et plus rentable si elle est globale. Les critères d’évaluation de l’efficacité énergétique d’une rénovation sont les suivants : économies d’énergie, amélioration de son confort l’hiver et/ou l’été, la valorisation de son patrimoine et la performance environnementale.
    </div>
    <div class="article2">  
      <img src="<%= baseURL %>tamplete/img/r8/chaudiere_0.png" class="foto" >
    </div>
  </div>
<table> 
  <tr>
  <th class="number">PROGRAMMATEUR</th>
  <th class="number">thermostat</th>
  <th class="number">Robinet thermostat</th>
  <th class="number">Sonde éxterieur</th>
  </tr>
  <tr>
    <td class="td-R8"><img src="<%= baseURL %>tamplete/img/r8/chaudiere_0.png" class="foto" ></td>
    <td class="td-R8"><img src="<%= baseURL %>tamplete/img/r8/CentralHeatingThermo.png" class="foto" ></td>
    <td class="td-R8"><img src="<%= baseURL %>tamplete/img/r8/sondeexterieure.png" class="foto" ></td>
    <td class="td-R8"><img src="<%= baseURL %>tamplete/img/r8/HeatingActuatorEnerg.png" class="foto" ></td>
  </tr>

</table>
</div>
