<div id="rubrique5">
  <h2 class="r2-title"> <span class="green-conv">2</span> <span class="blue-conv"> Informations générales (3/4)</span>
    </h1>
    <div style="display: block; padding-left: 10px;">
      <img src="<%= baseURL %>tamplete/img/fleche.png"
        style="width: 10px; height: 10px; float: left; margin-right: 4px;">
      <h3 class="sub-rubric-size">
        <span class="green-conv">2.7</span>
        <span class="blue-conv"> Photos</span>
      </h3>
      <div style="clear: both; display: block; content: '';"></div>
    </div>
    <div class="lineH_r5"></div>
    <div class="face2_7">
      <div class="aside_face2_7_1"> <span style="font-size: 10px;">façade <span class="r4-tittle">NORD </span></div>
      <div class="aside_face2_7_2"> <img src="<%= baseURL %>tamplete/img/r5/fotolia.png" class="foto1"></div>
      <div class="aside_face2_7_3"> <img src="<%= baseURL %>tamplete/img/r5/fotoliaO.png" class="foto1"></div>
      <div class="aside_face2_7_4"> <img src="<%= baseURL %>tamplete/img/r5/fotoliaO.png" class="foto1"></div>
    </div>
    <div style="clear: both; display: block; content: '';"></div>
    <div class="lineH_r5"></div>
    <div class="face2_7">
      <div class="aside_face2_7_1"> <span style="font-size: 10px;">façade <span class="r4-tittle">SUD </span></div>
      <div class="aside_face2_7_2"> <img src="<%= baseURL %>tamplete/img/r5/fotolia.png" class="foto"></div>
      <div class="aside_face2_7_3"> <img src="<%= baseURL %>tamplete/img/r5/fotoliaO.png" class="foto"></div>
      <div class="aside_face2_7_4"> <img src="<%= baseURL %>tamplete/img/r5/fotoliaO.png" class="foto"></div>
    </div>
    <div style="clear: both; display: block; content: '';"></div>
    <div class="lineH_r5"></div>
    <div class="face2_7">
      <div class="aside_face2_7_1"> <span style="font-size: 10px;">façade <span class="r4-tittle">EST </span></div>
      <div class="aside_face2_7_2"> <img src="<%= baseURL %>tamplete/img/r5/fotolia.png" class="foto"></div>
      <div class="aside_face2_7_3"> <img src="<%= baseURL %>tamplete/img/r5/fotoliaO.png" class="foto"></div>
      <div class="aside_face2_7_4"> <img src="<%= baseURL %>tamplete/img/r5/fotoliaO.png" class="foto"></div>
    </div>
    <div style="clear: both; display: block; content: '';"></div>
    <div class="lineH_r5"></div>
    <div class="face2_7">
      <div class="aside_face2_7_1"> <span style="font-size: 10px;">façade <span class="r4-tittle">OUEST </span></div>
      <div class="aside_face2_7_2"> <img src="<%= baseURL %>tamplete/img/r5/fotolia.png" class="foto"></div>
      <div class="aside_face2_7_3"> <img src="<%= baseURL %>tamplete/img/r5/fotoliaO.png" class="foto"></div>
      <div class="aside_face2_7_4"> <img src="<%= baseURL %>tamplete/img/r5/fotoliaO.png" class="foto"></div>
    </div>
    <div style="clear: both; display: block; content: '';"></div>

    <div id="r5-footer">
      <div style="float: left; width: 225px; font-size: 11px;">
        <span>
          Nous avons effectué des thermographies infrarouges afin de visualiser les déperditions
          énergétiques du bâtiment
        </span>
        <br />
        <span>
          Lorsque les thermographies infrarouges sont prises à l'exetérieur du bâtiment, les déperditions
          correspondent à l'extraction de l'air chauffé dans les appartements ves l'extérieur des bâtiments
        </span>
      </div>
      <div style="float: right; width: 225px; font-size: 11px;">
        <span>
          Elles se modélisont sur les thermographies par des zones rouges.
        </span>
        <br />
        <span>
          Cependant, lorsque les thermographies sont prises à l'intérieur du bâtiment,
          les lieux de fuites de chaleur correspondent à une entrée d'air froid dans les logements.
        </span>
        <br />
        <span>
          Cela se caractérisera par des zones bleues sur les thermographies.
        </span>
      </div>
    </div>
</div>
