<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Rapport</title>
  <link href="<%= baseURL %>tamplete/css/couverture/styles.css" rel="stylesheet" type="text/css">
  <link href="<%= baseURL %>tamplete/css/rubrique1/styles.css" rel="stylesheet" type="text/css">
  <link href="<%= baseURL %>tamplete/css/rubrique2/styles.css" rel="stylesheet" type="text/css">
  <link href="<%= baseURL %>tamplete/css/rubrique4/styles.css" rel="stylesheet" type="text/css">
  <link href="<%= baseURL %>tamplete/css/rubrique5/styles.css" rel="stylesheet" type="text/css">
  <link href="<%= baseURL %>tamplete/css/rubrique6/styles.css" rel="stylesheet" type="text/css">
  <link href="<%= baseURL %>tamplete/css/rubrique7/styles.css" rel="stylesheet" type="text/css">
  <link href="<%= baseURL %>tamplete/css/rubrique8/styles.css" rel="stylesheet" type="text/css">
  <link href="<%= baseURL %>tamplete/css/rubrique9/styles.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
</head>

<body>
  <div id="pageHeader-first"></div>
  <div id="pageHeader" style="width: 504.5px; height: 18px;">
    <div style="background-color: #74c000; text-align: right; font-size: 13px; justify-content: center; padding: 2px;">
      <span style="margin-top: 3px;">Nom du propriétaire</span>
      <span> / audit énergetique DP xxxxx</span>
    </div>
  </div>
  <div id="background">
    <!-- <span class="title" >testtt</span> -->
    <%- include('./page/couverture/index.ejs') %>
    <%- include('./page/rubrique1/index.ejs') %>
    <%- include('./page/rubrique2/index.ejs') %>
    <%- include('./page/rubrique4/index.ejs') %>
    <%- include('./page/rubrique5/index.ejs') %>
    <%- include('./page/rubrique6/index.ejs') %>
    <%- include('./page/rubrique7/index.ejs') %>
    <%- include('./page/rubrique8/index.ejs') %>
    <%- include('./page/rubrique9/index.ejs') %>
  </div>
  <div id="pageFooter" style="width: 504.5px; height: 10px; display: block;">
    <div
      style="width: 14.5px;
      background-color: #fa101f;
      height: 8px; float: left;
      "></div>
    <div style="width: 16px; height: 10px; float: right; font-size: 8px; text-align: right;">{{page}}</div>
    <div style="width: 342px; background-color:#a3a2a7; height: 8px; float: right;"></div>
    <div
      style="margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      width: 90px;
      background-color: white;
      height: 20px; float: right; color: black; font-size: 8px; padding-left: 10px;">www.thermiconseil.com</div>
    <div style="width: 14px; background-color:#1572bc; height: 8px; float: right; margin-left: 2px;"></div>
    <div style="width: 14px; background-color: #74c000; height: 8px; float: right; margin-left: 2px;"></div>
    <div style="clear: both;"></div>
  </div>
  <script>
    var myVar = <%- JSON.stringify(datasets) %>;
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: [],
        datasets: myVar,
      }
    });
</script>
</body>

</html>
