<div id="rubrique5">
  <div class="r4-tittle">
    <h2 style="text-decoration: underline;"><span class="number">2–</span> Information génerale</h2>
   
    <div style="display: inline;"><img src="<%= baseURL %>tamplete/img/r5/fleche.png"
        style="width: 10px; height: 10px;"></div>
    <h3 style="display: inline;"><span class="number">2.7</span>Photos </h3>
  </div>   
<div class="top" >
  <div class="aside"; text-align: justify;"> façade <span class="r4-tittle">NORD </span></div>
  <div class="aside"> <img src="<%= baseURL %>tamplete/img/r5/fotolia.png" class="foto" ></div>
  <div class="aside"> <img src="<%= baseURL %>tamplete/img/r5/fotoliaO.png" class="foto" ></div>
  <div class="aside"> <img src="<%= baseURL %>tamplete/img/r5/fotolia.png" class="foto" ></div>
</div>
<div class="top" >
  <div class="aside"> façade <span class="r4-tittle">SUD </span></div>
  <div class="aside"> <img src="<%= baseURL %>tamplete/img/r5/fotoliaO.png" class="foto"></div>
  <div class="aside"> <img src="<%= baseURL %>tamplete/img/r5/fotolia.png" class="foto"></div>
  <div class="aside"> <img src="<%= baseURL %>tamplete/img/r5/fotoliaO.png" class="foto"></div>
</div>
<div class="top" >
  <div class="aside"> façade <span class="r4-tittle">EST </span></div>
  <div class="aside"> <img src="<%= baseURL %>tamplete/img/r5/fotolia.png" class="foto"></div>
  <div class="aside"> <img src="<%= baseURL %>tamplete/img/r5/fotoliaO.png" class="foto"></div>
  <div class="aside"> <img src="<%= baseURL %>tamplete/img/r5/fotolia.png" class="foto"></div>
</div>
<div id="conteneur2">
<div class="article">
  <p> rénovation énergétique pxest plus efficace et plus rentable si elle est globale. Les critères d’évaluation de l’efficacité énergétique d’une rénovation sont les suivants : économies d’énergie, amélioration de son confort l’hiver et/ou l’été, la valorisation de son patrimoine et la performance environnementale.
  </p>

</div>
<div class="article">
 <p> Une rénovation énergétique est plus efficace et plus rentable si elle est globale. Les critères d’évaluation de l’efficacité énergétique d’une rénovation sont les suivants : économies d’énergie, amélioration de son confort l’hiver et/ou l’été, la valorisation de son patrimoine et la performance environnementale.
</p>
</div>
</div>
<div id="r4-footer">
  <span id="r4-footer-span">Le calculs des dépenses est effectué sur la base des consommations théoriques et non sur le montant des factures</span>
</div>
</div>

