<div id="rubrique7">
  <div class="r4-tittle">
    <h2 style="text-decoration: underline;"><span class="number">2–</span> Information génerale</h2>
   
    <div style="display: inline;"><img src="<%= baseURL %>tamplete/img/r5/fleche.png"
        style="width: 10px; height: 10px;"></div>
    <h3 style="display: inline;"><span class="number">2.6</span>Zone Climatique </h3>
    <h3 class="r7-tittle">ZONE CLIMATIQUE DU SITE</h3>
  </div>   
<div class="top" >
  <div class="aside"> <img src="<%= baseURL %>tamplete/img/r7/Calque2.png" class="foto" ></div>
  <div class="aside"> <img src="<%= baseURL %>tamplete/img/r7/Calque3.png" class="foto" ></div>
  <div class="aside"> <img src="<%= baseURL %>tamplete/img/r7/Calque4.png" class="foto" ></div>
  <div class="aside">
  <div style="width: 170px; height: 80px;"> <img src="<%= baseURL %>tamplete/img/r7/Calque5.png" class="foto" ></div>
  <div style="width: 170px; height: 80px;"> <img src="<%= baseURL %>tamplete/img/r7/Calqu6.png" class="foto" ></div>
</div>
</div>
<h3 class="r7-tittle">IMPLATATION <span style="color: black; font-size: 13px; font-family: italic;">:détail de l'implatation géographique du site</span> </h3>
<div class="top" >
  <div class="aside"> <img src="<%= baseURL %>tamplete/img/r7/Calque7.png" class="foto" ></div>
  <div class="aside"> <img src="<%= baseURL %>tamplete/img/r7/Calque8.png" class="foto" ></div>
  <div class="aside"> <img src="<%= baseURL %>tamplete/img/r7/Calque9.png" class="foto" ></div>
</div>
<div class="top" >
  <div class="aside"> <img src="<%= baseURL %>tamplete/img/r7/Calque10.png" class="foto" ></div>
  <div class="aside"> <img src="<%= baseURL %>tamplete/img/r7/Calque11.png" class="foto" ></div>
  <div class="aside"> <img src="<%= baseURL %>tamplete/img/r7/Calque12.png" class="foto" ></div>
</div>
</div>

